@import '../../../styles.scss';

// In this section you will find the styles for the logo on mobile devices
.header{
  @include set-flex-align-and-justify-content(center,center);

  .header__logo--desktop{
    display: none;
  }
}

// In this section you will find the styles for the logo on desktop devices
@media (min-width: 992px){
  .header{
    .header__logo--desktop{
      display: block;
    }

    .header__logo--mobile{
      display: none;
    }
  }
}
