<!-- In this section you will find everything related to the main component, including a section that contains a card that invites people to contact Avianca if they have any questions -->

<main class="main">
  <!-- Card section -->
  <section class="main-card">
    <div class="main-card__image">
      <img width="1500px"  src="../../../assets/images/contact-us.png" alt="Contact us image">
    </div>
    <!-- Card content section -->
    <div class="main-card__content">
      <p class="main-card__content--text main-card__content--text-can">¿qué podemos</p>
      <p class="main-card__content--text main-card__content--text-do">hacer por ti?</p>
      <p class="main-card__content--text main-card__content--text-information">Si necesitas información adicional contáctanos a traves de nuestros canales de atención.</p>
    </div>
  </section>

</main>
